p {
  white-space: pre-wrap;
}

p.info-box {
  display: inline-block;
  white-space: pre-wrap;
}

#query-result {
  width: 800px;
  background: white;
  border: 1px solid black;
  border-spacing: 0px;
}

#table-container {
  max-height: 400px;
  width: 820px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

#gp-table-container {
  display: inline-block;
  max-height: 400px;
  width: 820px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

#query-result #cell {
  overflow: hidden;
  line-height: 30px;
}
#query-result td {
  border: 1px solid black;
  padding: 20px;
  overflow:auto;
  line-height: 20px;
  height: 35px;
}
#query-result th {
  border: 1px solid black;
  background-color: lightgreen;
  height: 30px;
}

th #cell {
  line-height: 30px;
}

td #cell {
  line-height: 35px;
}

#team-box {
  max-width: 500px;
  min-height: 300px;
  max-height: 300px;
  background: #e0e0e0;
  padding: 20px;
  overflow:auto;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  border: 1px solid #ddd;
}

.form-inline select {
  padding: 10px; 
}

@media (max-width: 700px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
