<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./index.js"></script>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<div class="container-fluid bg-3 text-center">    
  <h3>Cool Sports Database</h3>
  <div id='table-container'>
    <p> Query Result Table </p>
    <table id="query-result"></table>
  </div>
  <button type="button" id="add-user-btn">Add User</button>
  <button type="button" id="get-users-btn">List Users</button>
  <div class ="form-group">
    <label for="user-email">Email: </label>
    <input type="email" class="form-control" id="user-email" placeholder="Enter Email">
  </div>
  <div class ="form-group">
    <label for="user-pwd">Password: </label>
    <input type="password" class="form-control" id="user-pwd">
  </div>
  <div class ="form-group">
    <label for="user-name">Name: </label>
    <input type="text" class="form-control" id="user-name" placeholder="Enter Name">
  </div>
  <div class ="form-group">
    <label for="user-phone">Phone: </label>
    <input type="text" class="form-control" id="user-phone" placeholder="Enter Phone Number">
  </div>
  <button type="button" id='create-user-btn'>Create User</button>
  <div class ="form-group">
    <p> project name on user by id</p>
    <label for="user-id-proj">User ID: </label>
    <input type="email" class="form-control" id="user-id-proj" placeholder="user id">
  </div>
  <button type="button" id='user-proj-btn'>Get Name</button>
  <br/><br/><br>
  <div class ="form-group">
    <p>Join table players and playerStats</p>
    <label for="stats-fields">Where </label>
    <select id="stats-fields" name="stats">
      <option value="year">year</option>
      <option value="goals">goals</option>
      <option value="assists">assists</option>
      <option value="saves">saves</option>
    </select>
  </div>
  <div class ="form-group">
    <label for="stats-condition">Condition </label>
    <input type="text" class="form-control" id="stats-condition" value="> 3">
  </div>
  <button type="button" id="run-join-btn">Run Query</button>
  <br/>
  <div class ="form-group">
    <p>Find players who have recorded stats in every season (division query)</p>
    <button type="button" id="run-division-btn">Run Query</button>
  </div>
  <br/>
  <button type="button" id="count-users-btn">Count Users</button>
</body>
</html>