<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./index.js"></script>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<div class="container-fluid bg-3 text-center">    
  <h3>Cool Sports Database</h3>
  <p id="query-result">
    no query results to show
  </p>
  <button type="button" id="add-user-btn">Add User</button>
  <button type="button" id="get-users-btn">List Users</button>
</div>
</body>
</html>