<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./manage.js"></script>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<div class="container-fluid bg-3 text-center">    
  <h3>Player Database</h3>
  <p id="query-result">
    no query results to show
  </p>
  <button type="button" id="get-players-btn">List Players</button>
  <div class ="form-group">
    <label for="player-id">Player ID: </label>
    <input type="number" class="form-control" id="player-id" placeholder="Enter User ID">
  </div>
  <div class ="form-group">
    <label for="player-age">Age: </label>
    <input type="number" class="form-control" id="player-age" placeholder="Enter Age">
  </div>
  <div class ="form-group">
    <label for="player-height">Height: </label>
    <input type="number" class="form-control" id="player-height" placeholder="Enter Height (cm)">
  </div>
  <div class ="form-group">
    <label for="player-numb">Jersey Number: </label>
    <input type="number" class="form-control" id="player-numb" placeholder="Enter Jersey Number">
  </div>
  <button type="button" id="add-player-btn">Add Player</button>
</div>
</body>
</html>